extends layout

block content
  h2 #Street Animals

  hr
  a(href='https://www.instagram.com/photo_jjunu/')
    img(src="/images/cat.JPG" width='936' height='624')
  
  hr
  h3 F : 4
  h3 Shutter Spead: 1 / 25
  h3 ISO : 100