extends layout

block content
  h2 #Bee

  hr
  a(href='https://www.instagram.com/photo_jjunu/')
    img(src="/images/bee.JPG" width='936' height='624')
  
  hr
  h3 F : 2.8
  h3 Shutter Spead: 1 / 640
  h3 ISO : 250