extends layout

block content
  h2 #Friend's Camera

  hr
  a(href='https://www.instagram.com/photo_jjunu/')
    img(src="/images/canon.JPG" width='936' height='624')

  hr 
  h3 F : 1.8
  h3 Shutter Spead: 1 / 125
  h3 ISO : 2500