extends layout

block content
  h2 #Good Color Picture

  hr
  a(href='https://www.instagram.com/photo_jjunu/')
    img(src="/images/etc.JPG" width='936' height='624')
  
  hr
  h3 F : 2.8
  h3 Shutter Spead: 1 / 60
  h3 ISO : 1600