extends layout

block content
  h2 #Here are some Examples for you!
  h3 - But be careful! It can be filmed differently depending on the Weather and Time of the Day!
  
  hr
  ul.navbar-nav
    li.nav-item
      a.nav-link(href='/sunset')  
        h4 * Sunset
    li.nav-item
      a.nav-link(href='/moon')
        h4 * Moon
    li.nav-item
      a.nav-link(href='/oceanview') 
        h4 * Ocean View    
    li.nav-item
      a.nav-link(href='/nightview') 
        h4 * Night View
    li.nav-item
      a.nav-link(href='/cafeteria') 
        h4 * Cafeteria
    li.nav-item
      a.nav-link(href='/flower') 
        h4 * Flower
    li.nav-item
      a.nav-link(href='/animal') 
        h4 * Animal
    li.nav-item
      a.nav-link(href='/bee') 
        h4 * Insect
    li.nav-item
      a.nav-link(href='/friends') 
        h4 * Friends
    li.nav-item
      a.nav-link(href='/camera') 
        h4 * Camera
    li.nav-item
      a.nav-link(href='/etc') 
        h4 * Colorful