extends layout

block content
  h2 #Flowers of Daegu Arboretum

  hr
  a(href='https://www.instagram.com/photo_jjunu/')
    img(src="/images/flower.JPG" width='936' height='624')
  
  hr
  h3 F : 2.8
  h3 Shutter Spead: 1 / 2500
  h3 ISO : 250