extends layout

block content
  h2 #With  my Friends

  hr
  a(href='https://www.instagram.com/photo_jjunu/')
    img(src="/images/friends.JPG" width='936' height='624')
  
  hr
  h3 F : 4.5
  h3 Shutter Spead: 1 / 1000
  h3 ISO : 400