extends layout

block content

  h1 #I always use this camera

  style.
    table {
      border-collapse: collapse;
      width: 80%;
      }
    td, th {
    margin : auto;
    border: 4px ;
    text-align: left;
    padding: 20px;
    }

  hr
  left
    a(href='https://fujifilm-x.com/ko-kr/products/cameras/x-t4/')
      img(src="/images/xt4.jpeg" width='1000' height='500')

  #wrap
    h1 
    table(style='width: 61%' align ='left')
      tr
        th Model Name
        td Fujifilm X-T4
      tr
        th Size 
        td 134.6(W) x 92.8(H) x 63.8(D)mm
      tr
        th Specifications
        td 26 megapixel, swivel display, 4k video, etc..
        
        doctype html
  head
    style.
      table, td, th {
      border: 2px solid black;
      }
      table {
      width: 70%;
      border-collapse: collapse;
      }
