block content
  
  h1 Welcome to Jun U's Photo Diary
  h2 #Photographs are a memory of happy and sad moments.

  center
    a(href='http://localhost:3000/home')
      img(src="/images/main.jpg" width='650' height='650')
    h3 Try!! Click the Photo!

head
  style.
    body {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    }