extends layout

block content
  h2 #In front of my dormitory

  hr
  a(href='https://www.instagram.com/photo_jjunu/')
    img(src="/images/moon.JPG" width='946' height='624')
  
  hr
  h3 F : 1.8
  h3 Shutter Spead: 1 / 1600
  h3 ISO : 1600