extends layout

block content
  h2 #Ocean View(Ganjeolgot)

    hr
    a(href='https://www.instagram.com/photo_jjunu/')
        img(src="/images/oceanview.JPG" width='936' height='624')
  
  hr
  h3 F : 1.8
  h3 Shutter Spead: 1 /  8000
  h3 ISO : 250