extends layout

block content
  h2 #Apsan Park Observatory

  hr
  a(href='https://www.instagram.com/photo_jjunu/')
    img(src="/images/sunset.JPG" width='936' height='624')
  
  hr
  h3 F : 1.8
  h3 Shutter Spead: 1 / 3200
  h3 ISO : 400